// =======================================
// Color System Common Guide
// =======================================
// Font Base Color
$font-base: #1a1a1a;
$font-sub: #afafaf;
$font-title: #333;
$font-point-blue: #35bead;
$font-point-orange: #ff8134;

// Input Color
$placeholder: #9a9a9a;

$bg: #3cb49d;
$bg2: #f5f5f5;
$line-light: #eee;
