.container {
	&.home {
		.title {
			height: 700px;
			background: $bg url('../../images/website_banner_main.jpg')no-repeat;
			background-size: cover;
			h3 {
				margin: 0 auto;
				font-size: 72px;
				text-align: left;
				line-height: 1.2;
			}
			p {
				padding-top: 20px;
				margin: 0 auto;
				color: #fff;
				font-size: 32px;
				line-height: 42px;
			}
		}
		.content {
			.introduce {
				margin: 0 auto;
				display: flex;
				p {
					font-size: 20px;
					line-height: 38px;
					color: #787878;
					text-align: left;
					flex-basis: 50%;
					max-width: 50%;
				}
				.imgWrap {
					flex-basis: 50%;
					max-width: 50%;
					padding-left: 120px;
					//max-width: 100%;
					height: auto;
					// background-color: #3cb49d;
				}
				img {
					width: 100%;
				}
			}
			.departmentList {
				display: flex;
				flex: 1;
				.box  {
					width: 303.3px;
					//max-height: 470.6px;
					//min-height: 75%;
					height: 470.6px;
					flex-basis: 25%;
					float: left;
					text-align: center;
					border-radius: 15px;
					box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.3);
					background-color: #ffffff;
					overflow: visible;

					h5 {
						font-size: 24px;
						font-weight: 900;
						line-height: 30px;
						text-align: center;
						padding: 16px 0 14px;
						flex-basis: 50%;
						}
					p {
						font-size: 20px;
						color: $font-point-blue;
						font-weight: 700;
						line-height: 28px;
						text-align: center;
						}
					.imgWrap {
						//min-height: 35px;
						padding-top: 25.9px;
						flex-basis: 50%;
						//max-width: 50%;
						height: auto;
					}
				}
				> li {
					flex-basis: 25%;
					max-width: 50%;
					text-align: left;
					//padding-left: 40px;
					& + li {
						//padding-left: 40px;
					}
					ol {
						padding-top: 24px;
						padding-left: 15px;
						padding-right: 15px;
						text-align: left;
						li {
							font-size: 20px;
							line-height: 28px;
							color: $font-sub;
							text-indent: -10px;
							padding-left: 8px;
							&::before {
								content: "·"

							}
						}
					}
				}

			}
			.provideTitle {
				//font-size: 50px !important;
				text-align: left !important;
				//font-weight: 300 !important;
				//line-height: 65px !important;
				padding-top: auto;
				padding-bottom: 59px;
				max-width: 100%;
				height: auto;
				//flex-basis: 50%;
				//display: flex;
				.imgWrap {
					padding-top: 25.9px;
					width: 597px;
					min-width: 25%;
					height: auto;
					//vertical-align: bottom;
				}

				img{
					width: 100%;
					max-width: 597px;
					min-width: 200px;
				}
			}

			.provideList {
				//margin: 0 auto;
				//display: flex;
				//flex: 1;
				//padding-top: 42px;
				margin: 0 auto;
				display: flex;
				height: auto;
				background-color: #f5f5f5;
				padding-top: 0px;
				padding-bottom: 0px;
				//background-size: cover;
				.wrap{
					padding-left: 69.6px;
					h5 {
						flex-basis: 50%;
						margin: 0 auto;
						font-size: 28px;
						text-align: left;
						color: #36bead;
						font-weight: 900;
						line-height: 30px;
						padding-top: 130.3px; 
						padding-bottom: 14px;
					}
					p {
						flex-basis: 50%;
						//margin: 0 auto;
						//width: auto;
						//width: 555px;
						max-width: 555px;
						height: auto;
						//min-width: 25%;
						text-align: left;
						font-size: 20px;
						line-height: 28px;
						color: #797979;
						padding-top: 57.4px; 
						padding-bottom: 14px;
					}
				}

				.imgWrap {
					flex-basis: 50%;
					max-width: 100%;
					min-width: 50%;
					//max-height: 445px;
					//min-height: 50%;
					height: auto;
					object-fit: cover;
					text-align: center;
				}

				img {
					width: 100%;
					min-width: 375px;
				}

				.productName {
					padding-top: 130.3px;
				}

			}
		}
	}
}