.container {
	&.home {
		.title {
			margin: 0 auto;
			height: 742px;
			//background: url('../../images/main_video.mp4');
			background: linear-gradient(to right, #2bbba8 -12%, #2bbba8 -11%, #1c8989 112%);
			background-image: url('../../images/website_banner_main.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			//background-position: center;
			.wrap{
				h3 {
					//font-size: 72px;
					padding-top: 234.5px;
					flex-basis: 50%;
					text-align: left;
					//line-height: 1.2;
					//min-width: 300px;
					min-height: 25%;
					font-family: NanumSquareEB;
					font-size: 5rem;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.2;
					letter-spacing: -1.68px;
					color: #ffffff;
				}
				p {
					padding-top: 44.3px;
					//font-size: 32px;
					//line-height: 42px;
					//max-width: auto;
					font-family: NanumSquareR;
					font-size: 2rem;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.43;
					letter-spacing: normal;
					text-align: left;
					color: #e2f0ef;			
				}
			.video{
				opacity: 1;
				//position: fixed;
				top: 0;
				//float: left;
				padding: none;
				//bottom: 0;
				display: block;
				visibility: inherit;
				max-height: 742px;
				//width: 100%;
				//z-index: -1;
			}
		}
		}
		.content {
			.introduce {
				margin: 0 auto;
				display: flex;
				p {
					font-size: 20px;
					line-height: 38px;
					color: #787878;
					text-align: justify;
					flex-basis: 50%;
					min-width: 300px;
					width: 518px;
					//padding-right: 133.5px;
				}
				.imgWrap {
					flex-basis: 50%;
					max-width: 50%;
					padding-left: 133.5px;
					padding-right: 75px;
					//max-width: 100%;
					height: auto;
					// background-color: #3cb49d;
				}
				img {
					width: 100%;
				}
			}
			.departmentList {
				display: flex;
				flex: 1;
				.box  {
					width: 303.3px;
					//max-height: 470.6px;
					//min-height: 75%;
					height: 470.6px;
					flex-basis: 25%;
					float: left;
					text-align: center;
					border-radius: 15px;
					box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.3);
					background-color: #ffffff;
					overflow: visible;

					h5 {
						font-size: 24px;
						font-weight: 900;
						line-height: 30px;
						text-align: center;
						padding: 16px 0 14px;
						flex-basis: 50%;
						}
					p {
						font-size: 20px;
						color: $font-point-blue;
						font-weight: 700;
						line-height: 28px;
						text-align: center;
						}
					.imgWrap {
						//min-height: 35px;
						padding-top: 25.9px;
						flex-basis: 50%;
						//max-width: 50%;
						height: auto;
					}
				}
				> li {
					flex-basis: 25%;
					max-width: 50%;
					text-align: left;
					//padding-left: 40px;
					& + li {
						//padding-left: 40px;
					}
					ol {
						padding-top: 24px;
						padding-left: 15px;
						padding-right: 15px;
						text-align: left;
						li {
							font-size: 20px;
							line-height: 28px;
							color: $font-sub;
							text-indent: -10px;
							padding-left: 8px;
							&::before {
								content: "·"

							}
						}
					}
				}

			}
			.provideTitle {
				//font-size: 50px !important;
				text-align: left !important;
				//font-weight: 300 !important;
				//line-height: 65px !important;
				padding-top: auto;
				padding-bottom: 59px;
				max-width: 100%;
				height: auto;
				//flex-basis: 50%;
				//display: flex;
				.imgWrap {
					padding-top: 25.9px;
					width: 597px;
					min-width: 25%;
					height: auto;
					//vertical-align: bottom;
				}

				img{
					width: 100%;
					max-width: 597px;
					min-width: 200px;
				}
			}

			.provideList {
				//margin: 0 auto;
				//display: flex;
				//flex: 1;
				//padding-top: 42px;
				margin: 0 auto;
				display: flex;
				height: auto;
				background-color: #f5f5f5;
				padding-top: 0px;
				padding-bottom: 0px;
				//background-size: cover;
				.wrap{
					padding-left: 69.6px;
					h5 {
						flex-basis: 50%;
						margin: 0 auto;
						font-size: 28px;
						text-align: left;
						color: #36bead;
						font-weight: 900;
						line-height: 30px;
						padding-top: 130.3px; 
						padding-bottom: 14px;
					}
					p {
						flex-basis: 50%;
						//margin: 0 auto;
						//width: auto;
						//width: 555px;
						max-width: 555px;
						height: auto;
						//min-width: 25%;
						text-align: left;
						font-size: 20px;
						line-height: 28px;
						color: #797979;
						padding-top: 57.4px; 
						padding-bottom: 14px;
					}
				}

				.imgWrap {
					flex-basis: 50%;
					max-width: 100%;
					min-width: 50%;
					//max-height: 445px;
					//min-height: 50%;
					height: auto;
					object-fit: cover;
					text-align: center;
				}

				img {
					width: 100%;
					min-width: 375px;
				}

				.productName {
					padding-top: 130.3px;
				}

			}
		}
	}
}